<section>
  <video
    class="w-full h-screen object-cover object-top brightness-50"
    src="/img/hero-video.mp4"
    autoplay
    muted
    loop></video>
  <div class="absolute inset-0 flex flex-col items-center justify-center gap-10">
    <h1 class="text-5xl font-bold">Descubre las Mejores Oportunidades Inmobiliarias</h1>
    <div class="flex gap-4">
      <a
        class="border border-spacing-1 border-x-white rounded-lg p-2 font-bold w-24 text-center hover:bg-white hover:text-black"
        href="/">Compra</a
      >
      <a
        class="border border-spacing-1 border-x-white rounded-lg p-2 font-bold w-24 text-center hover:bg-white hover:text-black"
        href="/">Venta</a
      >
    </div>
  </div>
</section>
