---
import CardStaff from "../CardStaff.astro";
const { id } = Astro.props;
---

<section
  id={id}
  class="flex justify-center bg-[#1C2D37] h-[800px] mt-20 pt-16 relative"
>
  <CardStaff />
</section>
