---
import HeroSection from '../components/sections/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import PropiedadesSection from '../components/sections/PropertiesSection.astro';
import CounterSection from '../components/sections/CounterSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import StaffSection from '../components/sections/StaffSection.astro';
---

<Layout
  title="Realar Living Solutions-Home"
  description="En Realar Living Solutions, te ofrecemos las mejores propiedades residenciales y comerciales. Nuestro equipo de expertos te brinda asesoría personalizada para encontrar el hogar ideal o la inversión perfecta."
>
  <main>
    <HeroSection />
    <PropiedadesSection id="properties" />
    <CounterSection />
    <AboutSection id="about" />
    <ContactSection id="contact" />
    <!-- <StaffSection id="staff" /> -->
  </main>
</Layout>
