---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import PropiedadesSection from '../components/PropiedadesSection.astro';
---

<Layout
  title="Realar Living Solutions-Home"
  description="En Realar Living Solutions, te ofrecemos las mejores propiedades residenciales y comerciales. Nuestro equipo de expertos te brinda asesoría personalizada para encontrar el hogar ideal o la inversión perfecta."
>
  <main>
    <HeroSection />
    <PropiedadesSection />
  </main>
</Layout>
