---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import PropiedadesSection from '../components/PropiedadesSection.astro';
import CounterSection from '../components/CounterSection.astro';
---

<Layout
  title="Realar Living Solutions-Home"
  description="En Realar Living Solutions, te ofrecemos las mejores propiedades residenciales y comerciales. Nuestro equipo de expertos te brinda asesoría personalizada para encontrar el hogar ideal o la inversión perfecta."
>
  <main>
    <HeroSection />
    <PropiedadesSection />
    <CounterSection />
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto dicta fuga eius sunt
        expedita. Repellendus nulla perferendis quae sunt quo. Quam, cupiditate dolor unde placeat
        similique at aliquid dolores eligendi. Incidunt nihil quisquam dolorem doloribus architecto!
        Quaerat autem provident maiores quas exercitationem culpa officiis, doloribus fugiat qui
        voluptatem doloremque nemo ab porro temporibus, beatae facilis accusantium cupiditate
        voluptate, unde laudantium. Eveniet, quae et eaque quo assumenda soluta corrupti! Nemo odit
        rerum soluta vitae, eaque aliquam voluptatibus eum veniam ab maxime quia vero necessitatibus
        eos assumenda ipsum quo perspiciatis architecto libero. Illo eaque consectetur dicta fugiat
        obcaecati sunt corrupti, tenetur earum minus, totam dolorum ab ad, quia deleniti dignissimos
        ullam enim nostrum ducimus. Aliquam molestias alias eius minus ipsam aliquid animi! Qui
        libero ad illo optio, dolore labore? Modi distinctio ullam, vel libero, pariatur sunt
        eligendi fugit nobis odit aliquam, commodi quia perspiciatis exercitationem porro
        consequatur molestias praesentium est explicabo iure!
      </p>
    </div>
  </main>
</Layout>
