---
import HeroSection from "../components/sections/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import PropiedadesSection from "../components/sections/PropertiesSection.astro";
import CounterSection from "../components/sections/CounterSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
---

<Layout
  title="Realar Living Solutions-Home"
  description="En Realar Living Solutions, te ofrecemos las mejores propiedades residenciales y comerciales. Nuestro equipo de expertos te brinda asesoría personalizada para encontrar el hogar ideal o la inversión perfecta."
>
  <main>
    <HeroSection />
    <PropiedadesSection id="properties" />
    <CounterSection />
    <AboutSection id="about" />
    <ContactSection id="contact" />
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quam.
        Cupiditate laudantium, consectetur quasi obcaecati itaque quaerat ipsa
        non perspiciatis iste cumque unde tenetur optio suscipit aliquid
        aspernatur quod vero. Reiciendis pariatur, fuga voluptatem ipsam
        laudantium ea necessitatibus esse alias distinctio quae eligendi
        repudiandae quod odio nesciunt dolores architecto maxime harum, iusto
        adipisci. Ea animi voluptatum nostrum dolor laboriosam tempora! Totam
        dolorum rem doloribus deserunt fugit laboriosam fuga facere, facilis
        temporibus ullam exercitationem in adipisci harum recusandae
        voluptatibus enim quos molestias nesciunt ipsum pariatur velit repellat
        inventore deleniti id. Voluptatem. Mollitia adipisci sint quam nisi,
        consequuntur, reprehenderit id tempora ab natus praesentium enim
        asperiores, facilis velit architecto suscipit accusantium ullam nobis
        perspiciatis! Adipisci fugit aliquam laborum veniam est, repudiandae
        quis. Eum illo, omnis enim amet asperiores ratione, assumenda minus
        consequatur officiis quo nobis possimus impedit iusto? Odit esse, ipsam
        quia sequi hic dolorum perspiciatis temporibus voluptates rerum corporis
        exercitationem earum.
      </p>
    </div>
  </main>
</Layout>
