<section class="flex justify-center bg-[#1C2D37] h-[430px] w-full mt-20 items-center">
  <div class="grid grid-cols-3 grid-rows-2 gap-28 p-4">
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="2100">0</div>
      </div>
      <p class="font-semibold">Operaciones Realizadas</p>
    </div>
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="200">0</div>
      </div>
      <p class="font-semibold">Casas en venta</p>
    </div>
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="300">0</div>
      </div>
      <p class="font-semibold">Casas en alquiler</p>
    </div>
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="150">0</div>
      </div>
      <p class="font-semibold">Sucursales en el pais</p>
    </div>
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="90">0</div>
      </div>
      <p class="font-semibold">Visitas diarias</p>
    </div>
    <div class="flex flex-col text-center gap-2 close">
      <div class="flex items-center">
        <span class="text-6xl font-bold">+</span>
        <div class="text-6xl font-bold counter" data-cantidad-total="2000">0</div>
      </div>
      <p class="font-semibold">Clientes satisfechos</p>
    </div>
  </div>
</section>

<style>
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .close {
    opacity: 0;
  }
  .animar {
    animation: show 1.3s;
  }
</style>
