---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/img/logo-white.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="../lib/scripts.js"></script>
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    color: white;
    background: #a4b5ba;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  /* para el mapa */
  :root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
      saturate(0.3) brightness(0.3);
    color-scheme: light dark;
  }
  .map-tiles {
    filter: var(--map-tiles-filter, none);
  }
  /*  */
</style>
